body {
  --background: #ffffff;
  --text-color: #000000;
}

dark-mode {
  --background: #000000;
  --text-color: #ffffff;
}

body.dark-mode {
  background: var(--background);
  color: var(--text-color);
}